<!DOCTYPE html>
<html lang="en">
 <head>
  <title>Login page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 </head>
 <body>
    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="pwd">Password:</label><br>
        <input type="password" id="pwd" name="pwd"><br><br>
        <input type="submit" value="Submit">
      </form>
      {% if error %}
        <p style="color:red">{{ error }}</p>
      {% endif %}
 </body>
</html>